*.pdf
thesis.blg
thesis.bbl
build/thesis.toc
build/thesis.synctex.gz
build/thesis.pdf
build/thesis.out
build/thesis.lot
build/thesis.log
build/thesis.lof
build/thesis.idx
build/thesis.aux
build/en-abstract.aux
build/dicfa2en.aux
build/dicen2fa.aux
build/AUTthesis.pdf
build/AUTthesis.log
build/appendix1.aux
AUTthesis.bbl
build/en-abstract.aux
build/dicfa2en.aux
build/dicen2fa.aux
build/AUTthesis.pdf
build/AUTthesis.log
build/appendix1.aux
AUTthesis.bbl
build/appendix1.aux
build/AUTthesis.aux
build/AUTthesis.idx
build/AUTthesis.lof
build/AUTthesis.log
build/AUTthesis.lot
build/AUTthesis.out
build/AUTthesis.toc
build/chapter1.aux
build/dicen2fa.aux
build/dicfa2en.aux
build/en-abstract.aux
missfont.log
*.aux
*.lot
*.log
*.lof
*.out
*.gz
*.idx
*.toc
